@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-white: rgb(254, 251, 251);
    --bg-black: rgb(0, 0, 0);
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-image: url(source/clouds.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 80vw;
    min-width: 300px;
    height: 80vh;
    background-color: var(--bg-white);
    box-shadow: 0 0 10px var(--bg-black);
    border-radius: 14px;
}

.nav {
    width: 100%;
    height: 100px;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;

}

.date {
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px 0 0;
    padding:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date:hover,
.input:hover {
    background-color: rgb(19, 15, 15);
}

.date>span:first-child {
    font-size: 2.5rem;
}

.input {
    padding:10px;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0  14px 0 0;
    flex-wrap: wrap;
    
    /* gap:4px; */
}

.input>input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    flex-shrink: 1;
    color:black;
}

input::placeholder{
    text-align: center;
    transition: all 0.2s ease-in-out;
    color: gray;
}
input:focus::placeholder{
    color: grey;
    transform: scale(0.9) translateY(-8px);
}

.input>button {
    width: 40px;
    height:40px;
    background-color: rgb(154, 118, 39);
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding:4px;
}

.body{
    width:100%;
    height:84%;
    border-radius: 0 0 14px 14px;
    background-image: linear-gradient(45deg,#eae2b7,#ffb703);
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    position: relative;
}

.body .temp{
    width:20%;
    height:60px;
    display: grid;
    place-items: center;
    /* background-color: peru; */
}
.body .temp >h1{
    font-size: 3rem;
    text-shadow: 0 0 1px var(--bg-black);
    font-family: "Roboto", sans-serif;
    color:var(--bg-black);
}

.location{
    min-width:20%;
    padding:10px;
    height:60px;
    /* background-color: red; */
    align-self: flex-start;
    position: absolute;
    right:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

.location>div:first-child{
    /* background-color: blue; */
    min-width:20%;
    height:100%;
    display: grid;
    place-items: center;
}
.location>div:last-child{
    /* background-color: pink; */
    max-width:80%;
    height:100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.location>div:last-child>div{
    color:var(--bg-black);
    font-weight: bolder;
}

.weather-icon{
    width:20%;
    height:20%;
    /* background-color: red; */
    align-self: flex-start;
    position: absolute;
    left:0;
    display:flex;
    justify-content: center;
    align-items:center;
}

.weather-icon>img{
    width:50px;
    height:50px;
    object-fit: contain;

}

.weather-details{
    min-width:30%;
    height:40%;
    /* background-color: red; */
    align-self : flex-end;
    position: absolute;
    left:10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.weather-details>span{
    display: block;
    min-width:100%;
    /* background-color: peru; */
    list-style-type:none;
    color:black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}

.weather-details>span>span:last-child{
    display: block;
    min-width:80%;
    /* background-color: red; */
    color:black;
}

@media (width<800px){
    .date>span:first-child {
        font-size: 1.2rem;
    }
    .input{
        align-content: center;
    } 
}

@media (width<551px){
    input{
        width:40%;

    }
}